<div class="profile-sectiob">

  <%= render 'users/profile' %>

  <skip_before_action>
 



<!--投稿フォーム-->
<div class="flashcardContainer m-4 p-3 border-2 border-gray-200 rounded-2xl duration-200">

<%= form_with(model: @microposts, url: zen_create_path(slug: @user.slug), method: :post, local: true, data: { turbo: false } ) do |f| %>
<div id="inputWrapper" class="text-gray-500">
覚えたい単語、フレーズ
  <%= f.text_area :content, 
      class: "m-2 p-3 border-2 border-gray-200 duration-200 rounded-2xl w-full"
%>
日本語訳/解説など *optional
<%= f.text_area :answer, 
      class: "m-2 p-3 border-2 border-gray-200 duration-200 rounded-2xl w-full"
%>
</div>
<div>
  <%= f.submit "フラッシュカードを登録",
      class: "bg-gray-100 text-gray-800 rounded hover:bg-gray-200 transition duration-300 px-4 py-2 mr-4" %>
</div>
<% end %>

</div>
<!--投稿フォーム-->



<% if @user.microposts.any? %>
    <div class="m-3">
    <%= render partial: 'microposts/micropost' %>
    </div>
<% end %>



</div>








