<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>85hub</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Noto Sans JP', sans-serif;
        }
    </style>
</head>
<body class="">

 <!-- Navigation -->
 <nav class="top-0 left-0 right-0 bg-white z-50 h-16 fixed">

    <div class="container px-4 mx-auto h-full flex justify-between items-center">

    <div class="flex items-center h-full">
    <%= image_tag "logo08.png", class: "text-blue-600 w-full max-h-[28px] object-contain mx-auto" %>
    </div> 

      <div class="space-x-4">
      <!--<%= link_to blog_path, data: { turbo: false }, class: "font-bold text-blue-600 px-4 py-2 rounded-lg hover:text-blue-700 transition" do %>
        ブログ
      <% end %>-->
        <%= link_to login_path, data: { turbo: false }, class: "bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition" do %>
          はじめる
        <% end %>
      </div>
    </div>
  </nav>


  <!-- hero section -->
<header class="w-full flex flex-col items-center justify-start pt-20 leading-relaxed">
  <div class="container mx-auto px-4 flex flex-col items-center gap-10">

    <!-- 上部：テキスト -->
    <div class="text-center max-w-4xl">
      <h1 class="text-3xl text-left sm:text-5xl font-extrabold text-gray-900">
        シンプルで使いやすい<span class="text-blue-600">英単語帳！</span>
      </h1>
      <!--覚えたい単語、フレーズを<span class="text-blue-600">しっかり管理</span>-->

     <!-- <div class="tags mt-10 flex flex-wrap justify-center gap-3">
        <span class="inline-flex font-bold items-center rounded-md bg-blue-50 px-2 py-1 text-base text-blue-700 ring-1 ring-blue-700/10 ring-inset">😄 無料で使える</span>
        <span class="inline-flex font-bold items-center rounded-md bg-blue-50 px-2 py-1 text-base text-blue-700 ring-1 ring-blue-700/10 ring-inset">🔖タグ管理機能</span>
        <span class="inline-flex font-bold items-center rounded-md bg-blue-50 px-2 py-1 text-base text-blue-700 ring-1 ring-blue-700/10 ring-inset">🧠クイズ付き</span>
        <span class="inline-flex font-bold items-center rounded-md bg-blue-50 px-2 py-1 text-base text-blue-700 ring-1 ring-blue-700/10 ring-inset">💆🏻‍♂️見やすいデザイン</span>
      </div>-->

    <!--<div class="pt-5 flex flex-wrap gap-6 justify-center md:justify-center">
     <h2 class="sm:text-xl font-extrabold text-gray-900">
     <%= link_to '85hub', 'https://85hub.com/blog', class: 'text-blue-600 border-b-2 border-blue-600', rel: 'noopener' %>とは？
     </h2>
    </div>-->

    </div>

    <!-- 下部：モックアップ画像 -->
    <!--<div class="w-full overflow-x-hidden border-2 border-gray-200 rounded-3xl shadow-lg bg-white">
      <%= image_tag "lp-main.png", class: "w-full max-h-[800px] object-contain mx-auto" %>
    </div>-->

    <div class="w-full rounded-3xl bg-white">
      <%= image_tag "85hub-home-lp.png", class: "w-full max-h-[800px] object-contain mx-auto" %>
    </div>

  </div>
</header>







<!--<section id="title" class="w-full h-screen flex flex-col items-center justify-center text-center pt-10">
  <div class="p-4">
    <h1 class="text-3xl sm:text-5xl text-left sm:text-center font-extrabold text-gray-900 mb-4">
      あなた専用の<span class="text-blue-600">単語帳サイト</span>を作ろう。
    </h1>

    <div class="flex flex-col items-start mt-10 space-y-6 text-left">
      <div class="flex items-start">
        <span class="text-blue-600 text-2xl font-extrabold mr-4">1.</span>
        <p class="text-gray-600 text-lg font-bold">覚えたい単語やフレーズ、日本語訳、例文をまとめて管理！</p>
      </div>

      <div class="flex items-start">
        <span class="text-blue-600 text-2xl font-extrabold mr-4">2.</span>
        <p class="text-gray-600 text-lg font-bold">タグをつけて管理をしやすく</p>
      </div>

      <div class="flex items-start">
        <span class="text-blue-600 text-2xl font-extrabold mr-4">3.</span>
        <p class="text-gray-600 text-lg font-bold">フラッシュカードでしっかり定着</p>
      </div>
    </div>

    <%= image_tag "about05.png", class: "h-[60vh] object-contain mx-auto" %>
  </div>
</section>-->


<section id="title" class="bg-gray-50 grid grid-cols-12 gap-3 p-4 sm:p-10 mt-12">
 
      <div class="sm:col-span-6 col-span-12 sm:text-3xl text-2xl">
        <p class="text-blue-600 font-bold">🔦 フラッシュカード</p>
        <p class="text-gray-900 text-base sm:text-lg sm:font-semibold sm:p-6">左上の「Tap me！」ボタンをタップするだけで、登録した単語のフラッシュカードが表示されます。</p>
      </div>

      <div class="sm:col-span-6 col-span-12">
        <%= image_tag "tapme.gif", alt: "サンプルGIF", class: "w-full" %>
      </div>


</section>

<section id="title" class="bg-gray-50 grid grid-cols-12 gap-3  p-4 sm:p-10">     

     <div class="sm:col-span-6 col-span-12 sm:text-3xl text-2xl">
        <p class="text-blue-600 font-bold">🔗 クリップ集</p>
        <p class="text-gray-900 text-base sm:text-lg sm:font-semibold sm:p-6">
        英単語やフレーズを登録するときに、その言葉が使われていたYouTubeやSNSのリンクも一緒に保存できます。
        <br><br>見返した時にその英語のニュアンスをすぐに思い出せたり、他のユーザーと「こんな英語コンテンツがあったよ！」を共有することで、リアルな英語を学ぶ体験が広がります。
        </p>
     </div>

     <div class="sm:col-span-6 col-span-12">
        <%= image_tag "clips-lp.png", class: "" %>
      </div>
</section>



<section class="p-5">

      <h1 class="text-2xl sm:text-3xl text-left font-extrabold text-gray-900 mb-4 ml-6">
      🗺️ <span class="text-blue-600">ストーリー </span>
      </h1>
    

  <!--ブログ-->
  <div class="mt-10 space-y-6 text-left">
    <%= link_to root_path, data: { turbo: false }, class: "flex items-center p-4 bg-white rounded-xl shadow hover:bg-blue-50 transition duration-300" do %>
      <span class="text-3xl mr-4">🫃🏻</span>
      <h3 class="text-lg font-semibold text-gray-900 mb-1">85hubは、開発者の英語学習に対する悩みから生まれた</h3>
    <% end %>

    <%= link_to root_path, data: { turbo: false }, class: "flex items-center p-4 bg-white rounded-xl shadow hover:bg-blue-50 transition duration-300" do %>
     <span class="text-3xl mr-4">🧠</span>
     <h3 class="text-lg font-semibold text-gray-900 mb-1">英語を「勉強する」から「楽しむ」へ</h3>
    <% end %>

    <%= link_to root_path, data: { turbo: false }, class: "flex items-center p-4 bg-white rounded-xl shadow hover:bg-blue-50 transition duration-300" do %>
     <span class="text-3xl mr-4">🧬</span>
     <h3 class="text-lg font-semibold text-gray-900 mb-1">85hubというブランド名</h3>
    <% end %>
  </div>

  <div class="mt-10 sm:p-10">
   <blockquote class="border-l-4 border-blue-500 pl-4 italic text-gray-700 text-lg">
     <p>
      何事も楽しくコツコツと続けられる人は、自分が思いもよらないほど遠くまで行くことができるものです。
      「頑張る」「勉強する」のではなく「楽しく続ける」ための英語学習ツール、85hubをみなさんにお届けします。
     </p>
   </blockquote>
  </div>

</section>



<section id="design" class="text-white bg-blue-500 flex flex-col items-center justify-center text-center pt-10">

  <!--<div class="container mx-auto p-4">
    <%= image_tag "logo08-footer.png", class: "text-blue-600 w-full max-h-[30px] object-contain mx-auto" %>
    <h2 class="text-4xl font-extrabold text-center">85hub</h2>
  </div>-->

  <div class="grid grid-cols-12 gap-3 p-4">
   <p class="sm:col-span-4 col-span-12 sm:text-xl text-base">Terms of Service</p>
   <p class="sm:col-span-4 col-span-12 sm:text-xl text-base">Privacy Policy</p>
   <p class="sm:col-span-4 col-span-12 sm:text-xl text-base">Legal Notice</p>
  </div>

  <div class="container mx-auto px-4 text-sm p-4">
   <p>&copy; <%= Date.current.year %> 85hub. All rights reserved.</p>
  </div>

  
</section>

</body>

</html>


<script>
function showImage(type) {
  // まず全画像を非表示にする
  document.querySelectorAll('#image-container img').forEach(img => {
    img.classList.add('hidden');
  });

  // 指定された画像だけ表示する
  const target = document.getElementById(`img-${type}`);
  if (target) {
    target.classList.remove('hidden');
  }
}
</script>
