<div class="container">

<div class="text-center mt-3" id="nav-section">
<h1>
   <!--<%= image_tag("logo01.png") %>-->
   <%= link_to "eigopencil.com", root_path, class: "text-decoration-none text-dark" %>
  <!-- <%= link_to "eigo-toen.online", root_path, class: "text-decoration-none text-dark" %>-->
 </h1>
 <!--<p>言葉にするたび、英語があなたのものになる。</p>-->
     <p>英語のアウトプットを、あなたの方法で、あなたのペースで。</p>
</div>


<div class="about mt-5 ml-3 mr-3">


<div class="row">

<div class="col-md-6">
<h4 class="text-left">🎉ようこそ！</h4>
<p class="text-muted text-left mt-4">
英語を学ぶ理由も、学び方も、人それぞれにスタイルがあります。だからこそ、eigopencilはあなた自身が自由に英語をアウトプットできるスペースを提供します。
</p>






</div>

<div class="col-md-6">
<div class="text-center mt-4">
<%= image_tag("q001.png", class: "img-fluid", style: "max-width: 320px; height: auto; border-radius: 8px;") %>
</div>
</div>


<div class="col-md-6">
<h4 class="mt-5">👨‍🎨自由自在に装飾ができる投稿エディタ</h4>
<p class="text-muted text-left mt-4">
文字を太くしたり、画像やリンクを貼ったり、シンプルな英語日記を書いたり。eigopencilの使い方はあなた次第です。
</p>
</div>

<div class="col-md-6">
<div class="text-center mt-4">
<%= image_tag("trix.png", class: "img-fluid", style: "max-width: 320px; height: auto; border-radius: 8px;") %>
</div>
</div>


<div class="col-md-6">
<h4 class="mt-5">📚Learn more</h4>

<div class="mt-4 hover:bg-gray-100 text-center">
<%= link_to how_i_use_path, class: "no-underline text-black block border border-gray-300 rounded-md p-4 bg-transparent transition", data: { turbo: false } do %>
   <h6 class="text-muted">開発者のeigopencil活用法</h6>
 <% end %>
</div>

<div class="mt-4 hover:bg-gray-100 text-center">
 <%= link_to how_i_use_path, class: "no-underline text-black block border border-gray-300 rounded-md p-4 bg-transparent hover:bg-gray-300 transition", data: { turbo: false } do %>
   <h6 class="text-muted">投稿エディタの使い方</h6>
<% end %>
</div>


</div>

<div class="col-md-6">
<div class="text-center mt-4">
<%= image_tag("learn_more.png", class: "img-fluid", style: "max-width: 320px; height: auto; border-radius: 8px;") %>
</div>
</div>





<div class="col-md-6">
<h4 class="mt-4">お問い合わせ📩</h4>
<p class="text-muted mt-4">
あなたののフィードバックが、eigopencilをもっと便利で使いやすいサービスにしていきます。不具合やもっとこうした方がいいなどの声はぜひこちらまでお聞かせください。<br> ✉️: eigopencil@gmail.com
</p>
</div>

<div class="col-md-6">
<div class="text-center mt-4">
<%= image_tag("q004.png", class: "img-fluid", style: "max-width: 320px; height: auto; border-radius: 8px;") %>
</div>
</div>

</div><!--row-->





<h4 class="mt-4">利用規約とプライバシーポリシー📜</h4>
<p class="text-muted mt-4">
* アマゾンリンクについて<br>
eigopencilは、Amazon.co.jpを宣伝しリンクすることによってサイトが紹介料を獲得できる手段を提供することを目的に設定されたアフィリエイトプログラム、Amazonアソシエイト・プログラムの参加者です。
</p>


</div>

</div></div>

