<div class="container">

<div class="text-center mt-3" id="nav-section">
<h1>
   <!--<%= image_tag("logo01.png") %>-->
   <%= link_to "eigopencil.com", root_path, class: "text-decoration-none text-dark" %>
  <!-- <%= link_to "eigo-toen.online", root_path, class: "text-decoration-none text-dark" %>-->

 </h1>
 <p>言葉にするたび、英語があなたのものになる。</p>
</div>


<div class="about mt-5 ml-3 mr-3">

<h5 class="text-left">ようこそ！🎉</h5>
<p class="text-muted text-left mt-4">
eigopencilとは、英語学習者の皆さんが英語を文章でアウトプットできる場を提供するサービスです。 誰かのために、自分のために英語日記や新しく覚えたフレーズを文章にして共有しましょう。
</p>

<div class="text-center mt-4">
<%= image_tag("q01.webp", class: "img-fluid", style: "max-width: 320px; height: auto;") %>
</div>

<h5 class="mt-5">書いて身に付く英語力✏️</h5>
<p class="text-muted text-left mt-4">
yay!
</p>
<h5 class="mt-4">使い方ガイド📚</h5>
<p class="text-muted text-left mt-4">
zenmode
</p>
<h5 class="mt-4">アプリのように使ってみよう📱</h5>
<p class="text-muted text-left mt-4">
スマホのアプリからこのウェブサイトを開くことができます。詳しくは<%= link_to "こちら", app_path, class: "", data: { turbo: false } %>
</p>
<h5 class="text-left mt-4">アップデート予定の機能🗓️</h5>
<p class="text-muted text-left">
AIによる添削機能<br>
ブックマーク機能<br>
下書き保存機能<br>
紙に書いた英文を読み取る機能<br>
140字を超える英文を投稿可能<br>
Discordを使ったコミュニティー運営<br>
</p>
<h5 class="mt-4">SNSで英語を広めよう🔗</h5>
<p class="text-muted mt-4">
yay!
</p>
<h5 class="mt-4">eigopencilのビジョン🌍</h5>
<p class="text-muted mt-4">
yay!
</p>

<h5 class="mt-4">利用規約とプライバシーポリシー📜</h5>
<p class="text-muted mt-4">
* アマゾンリンクについて<br>
eigopencilは、Amazon.co.jpを宣伝しリンクすることによってサイトが紹介料を獲得できる手段を提供することを目的に設定されたアフィリエイトプログラム、Amazonアソシエイト・プログラムの参加者です。
</p>



<h5 class="mt-4">お問い合わせ📩</h5>
<p class="text-muted mt-4">
あなたののフィードバックが、eigopencilをもっと便利で使いやすいサービスにしていきます。不具合やもっとこうした方がいいなどの声はぜひこちらまでお聞かせください。<br> ✉️: eigopencil@gmail.com
</p>

</div>

</div>

