<div class="container">

<div class="text-center mt-3" id="nav-section">
<h1>
   <!--<%= image_tag("logo01.png") %>-->
   <%= link_to "eigopencil.com", root_path, class: "text-decoration-none text-dark" %>
  <!-- <%= link_to "eigo-toen.online", root_path, class: "text-decoration-none text-dark" %>-->
 </h1>
 <p>言葉にするたび、英語があなたのものになる。</p>
</div>


<div class="about mt-5 ml-3 mr-3">

<div class="row">

<div class="col-md-6">
<h5 class="text-left">ようこそ！🎉</h5>
<p class="text-muted text-left mt-4">
eigopencilとは、英語学習者の皆さんが英語を文章でアウトプットできる場を提供するサービスです。 誰かのために、自分のために英語日記や新しく覚えたフレーズを文章にして共有しましょう。
<%= link_to "使い方ガイド📚", tutorial_path, class: "text-primary" %>
</p>
</div>

<div class="col-md-6">
<div class="text-center mt-4">
<%= image_tag("q01.webp", class: "img-fluid", style: "max-width: 320px; height: auto; border-radius: 8px;") %>
</div>
</div>
</div>

<h5 class="mt-5">書いて身に付く英語力✏️</h5>
<p class="text-muted text-left">
eigopencilは開発者自身が英語学習に伸び悩んだ経験から生まれました。このアプリでは学習内容を記録し、モチベーションを保ちながら学ぶことができます。あなたも日々の英語学習にこのアプリを取り入れて新しい学びの形を始めてみませんか？
</p>

<div>
<h5 class="mt-4">アプリのように使ってみよう📱</h5>
<p class="text-muted text-left">
スマホのアプリからこのウェブサイトを開くことができます。詳しくは<%= link_to "こちら", app_path, class: "", data: { turbo: false } %>
</p>
</div>





<h5 class="mt-4">利用規約とプライバシーポリシー📜</h5>
<p class="text-muted mt-4">
* アマゾンリンクについて<br>
eigopencilは、Amazon.co.jpを宣伝しリンクすることによってサイトが紹介料を獲得できる手段を提供することを目的に設定されたアフィリエイトプログラム、Amazonアソシエイト・プログラムの参加者です。
</p>



<h5 class="mt-4">お問い合わせ📩</h5>
<p class="text-muted mt-4">
あなたののフィードバックが、eigopencilをもっと便利で使いやすいサービスにしていきます。不具合やもっとこうした方がいいなどの声はぜひこちらまでお聞かせください。<br> ✉️: eigopencil@gmail.com
</p>

</div>

</div></div>

