<div class="mx-auto px-4 max-w-5xl">

  <div class="text-center mt-5">
    <h1 class="text-4xl font-medium">eigopencil.com</h1>
    <p class="fonr-bold mt-3">英語のアウトプットを、あなたの方法で、あなたのペースで。</p>
  </div>

<div>
  <div class="text-center mt-4">
    <%= image_tag("mascot.png", class: "mx-auto max-w-[320px] h-auto rounded-lg") %>
  </div>
</div>

  <div class="about mt-5 mx-3">

    <!-- Tailwind のグリッドレイアウト: 1列 -> MD以上で2列 -->
    <!--<div class="grid grid-cols-1 md:grid-cols-2 gap-6">-->
    <div class="grid grid-cols-1 gap-6 p-7">


      <!-- 1カラム目 -->
      <div class="mt-5 p-1">
        <h4 class="text-left text-xl font-medium">🎉ようこそ！</h4>
        <p class="text-gray-500 text-left mt-4">
        eigopencilは、英語のライティングができるスペースを提供します。
英語日記や覚えたいフレーズのアウトプット、短い文章からブログのような長文など、目的やスタイルを問わず、自分らしい英語の表現を磨いていきましょう。

        </p>
      </div>



      <!-- 3カラム目 -->
      <div class="p-1 mt-3">
        <h4 class="text-left text-xl font-medium">👨‍🎨手書き対応！使いやすい投稿エディタ</h4>
        <p class="text-gray-500 text-left mt-4">
        <li class="text-gray-500">改行や太字に対応</li>
        <li class="text-gray-500">手書きの英文も読み取り可能</li>
        <li class="text-gray-500">最大1000文字まで入力OK！</li>
        </p>
      </div>

      <!-- 3カラム目 -->
      <div class="p-1 mt-3">
        <h4 class="text-left text-xl font-medium">🧘‍♂️シンプルなデザイン</h4>
        <p class="text-gray-500 text-left mt-4">
        皆さんが、「書く」ことに集中できるように、シンプルな見た目を心がけました。
リマインダー、広告などはありません。
        </p>
      </div>

      <!-- 3カラム目 -->
      <div class="p-1 mt-3">
        <h4 class="text-left text-xl font-medium">🎁英語学習コンテンツを提供します</h4>
        <p class="text-gray-500 text-left mt-4">
        「英語を書いてアウトプットしたいけど、何を参考にすればいいの？」と迷っている方へ。eigopencilでは、英語学習に役立つ物語をご用意しました。物語の中から覚えたい単語やフレーズを見つけ、楽しく学習を進めることができます。
        <p><%= link_to "物語を読む", books_path, data: { turbo: false }, style: "color: #FF8800;" %></p>
        </p>
      </div>

      <!-- 2カラム目 -->
      <div class="p-1 mt-3">
        <h4 class="text-left text-xl font-medium">🔥eigopencilを使い込んで英語力を上げよう</h4>
        <p class="text-gray-500 text-left mt-4">
        継続して英語をアウトプットすることで、確実にスキルは向上します。eigopencilはそのための環境をあなたに提供します。まずは短い一文から始めてみませんか？
        </p>
        <p><%= link_to "🔥eigopencilをはじめる🔥", signup_path, data: { turbo: false }, style: "color: #FF8800;" %></p>

      </div>

      <div class="mt-3 p-1">
        <h4 class="text-left text-xl font-medium">🛠️eigopencilに追加される予定の機能</h4>
        <p class="text-gray-500 text-left mt-4">
        <li class="text-gray-500">AI添削機能</li>
        <li class="text-gray-500">画像の挿入を可能にする</li>
        <li class="text-gray-500">あなた専用の単語/フレーズ帳</li>
        <li class="text-gray-500">英語コンテンツのURL共有</li>
        </p>
      </div>

   

    
      <!-- 5カラム目 -->
      <div class="p-1 mt-3">
      <h4 class="text-left text-xl font-medium">📚Learn more</h4>

        <div class="mt-4 hover:bg-yellow-500 text-center">
          <%= link_to how_i_use_path,
                      class: "no-underline text-black block border border-gray-300 rounded-md p-4 bg-transparent transition",
                      data: { turbo: false } do %>
            <h6 class="text-gray-500">開発者のeigopencil使い方</h6>
          <% end %>
        </div>


      <div class="mt-4 hover:bg-yellow-500 text-center">
      <%= link_to evidence_path,
                  class: "no-underline text-black block border border-gray-300 rounded-md p-4 bg-transparent transition",
                  data: { turbo: false } do %>
        <h6 class="text-gray-500">科学が示す「英語を書くこと」の効果</h6>
      <% end %>
    </div>

      </div>


      <!-- 6カラム目（画像） -->
      <div class="p-1 mt-3">
        <div class="text-center mt-4">
          <%= image_tag("learn_more.png", class: "mx-auto max-w-[320px] h-auto rounded-lg") %>
        </div>
      </div>
      

      <!-- 7カラム目 -->
      <div class="p-1 mt-3">
        <h4 class="text-left text-xl font-medium">お問い合わせ📩</h4>
        <p class="text-gray-500 mt-4">
          あなたのフィードバックが、eigopencilをもっと便利で使いやすいサービスにしていきます。  
          不具合やもっとこうした方がいいなどの声はぜひこちらまでお聞かせください。<br>
          ✉️: eigopencil@gmail.com
        </p>
      </div>

      <!-- 8カラム目（画像） -->
      <div>
        <div class="text-center mt-4">
          <%= image_tag("q004.png", class: "mx-auto max-w-[320px] h-auto rounded-lg") %>
        </div>
      </div>

     


    </div> <!-- grid -->

  

  </div><!-- about -->
</div><!-- container -->
