  <% @microposts.published.each do |micropost| %>
  <%= link_to post_path(id: micropost.id) do %> 

    <!-- è¡¨ç¤ºéƒ¨åˆ† -->
    <div class="m-4 p-3 border-2 border-gray-200 rounded-2xl duration-200">

      <!-- ã‚³ãƒ³ãƒ†ãƒ³ãƒ„éƒ¨åˆ† -->
      <span class="text-gray-500 text-sm block"><%= micropost.created_at.strftime("%Y-%m-%d") %></span>

      <div class="m-2">
      <%= sanitize micropost.content, 
        tags: %w(p br h1 h2 h3 h4 h5 h6 ul ol li strong em u s blockquote pre code span div img a),
        attributes: %w(class style src alt href data-*),
        class: "text-xl text-gray-700 font-medium"
      %>
      </div>
      
      <div class="border-2 border-dashed"></div>

      <div class="m-2 text-gray-400">
      <%= sanitize micropost.answer, 
        tags: %w(p br h1 h2 h3 h4 h5 h6 ul ol li strong em u s blockquote pre code span div img a),
        attributes: %w(class style src alt href data-*)
      %>
      </div>
      
      <% if current_user == @user %>
        <div class="text-right">
          <!-- å‰Šé™¤ãƒœã‚¿ãƒ³ -->
          <%= button_to "ðŸ—‘ï¸", micropost_path(slug: @user.slug, id: micropost.id), method: :delete, class: "text-red-500 hover:text-red-700 bg-transparent border-none cursor-pointer pr-1" %>
        </div>

      <% end %><!--each post link-->
      <% end %>
    </div>


  <% end %>
