<div class="diary-container">
  <div class="diary-entries">

<!-- irb(main):001> app.microposts_path(slug: "a")=> "/a/microposts" -->

<%= form_with(model: @micropost, url: draft_update_path(@micropost), method: :post, local: true, html: { class: "micropost-form" }) do |f| %>
  <!-- å…¥åŠ›ãƒ•ã‚£ãƒ¼ãƒ«ãƒ‰ -->
  <div class="field">
    <%= f.text_area :content, 
      class: "form-control diary-textarea",
      style: "border: none; box-shadow: none;" %>
  </div>

  <!-- é€ä¿¡ãƒœã‚¿ãƒ³ -->
  <div class="actions text-right">
    <%= f.submit "ä¸‹æ›¸ãä¿å­˜", name:"draft", class: "btn btn-light diary-submit-btn" %>
    <%= link_to "ðŸ¤–", user_path(@user), class: "btn btn-light submit-button" %>
    <%= f.submit "post", class: "btn btn-light diary-submit-btn" %>
  </div>
<% end %>


  </div>
</div>