<div class="flex h-screen overflow-hidden">

  <!-- ðŸ‘ˆå·¦ã‚«ãƒ©ãƒ ï¼ˆå›ºå®šãƒ»smä»¥ä¸Šã§è¡¨ç¤ºï¼‰ -->
  <div class="hidden sm:block sm:w-[150px] fixed h-full">
    <%= render 'users/profile' %>
  </div>

  <!-- ðŸ‘‰å³ã‚«ãƒ©ãƒ ï¼ˆã‚¹ãƒžãƒ›ã§ã¯ä½™ç™½ãªã—ï¼‰ -->
  <div class="w-full sm:ml-[150px] overflow-y-auto">
  <p class="pl-4 font-bold text-lg">#<%= params[:tags] %></p>
  <%= render partial: 'microposts/content_navs' %>
  <!----ã‚¿ã‚°ã®çµæžœ----->
<!-- where: tagã®è¦ç´ ã®ä¸­ã§ã‚‚ã€params[:tags]ã«å½“ã¦ã¯ã¾ã‚‹å†…å®¹ã‚’å–å¾—ã—ã¦ãã‚‹ã€‚-->
<!--    get '/posts/:tags',â†ã“ã®":tags"ã‹ã‚‰paramsãŒæŽ¢ã—ã¦ã„ã‚‹ to: 'microposts#tags', as: 'tag'-->

<% @microposts.published.where(tags: params[:tags]).each do |micropost| %>
 <!-- ä¸€ç•ªå¤–å´ -->
<div class="m-4 p-3 border-2 border-gray-200 rounded-2xl duration-200">
<!--<%= link_to post_path(id: micropost.id) do %> -->

<!-- ã‚³ãƒ³ãƒ†ãƒ³ãƒ„éƒ¨åˆ† -->
<div class="flex m-2">
  <!-- æ—¥ä»˜ -->
    <span class="text-gray-500 text-sm block pr-2">
    <%= micropost.created_at.strftime("%Y-%m-%d") %>
    </span>
  <!-- æ­£è§£æ•° -->
  <% if micropost.correct_num < 10 %>
    <span class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-blue-700/10 ring-inset"> 
    <%= micropost.correct_num %>/10
    </span>
  <% else %>
     âœ…
  <% end %>
</div>

<!--content-->
    <div class="m-2">
      <%= sanitize micropost.content, 
      tags: %w(p br h1 h2 h3 h4 h5 h6 ul ol li strong em u s blockquote pre code span div img a),
      attributes: %w(class style src alt href data-*),
      class: "text-xl text-gray-700 font-medium"
      %>
    </div>
    
    <div class="border-2 border-dashed"></div>

<!--answer-->
    <div class="m-2 text-gray-400">
      <%= sanitize micropost.answer, 
        tags: %w(p br h1 h2 h3 h4 h5 h6 ul ol li strong em u s blockquote pre code span div img a),
        attributes: %w(class style src alt href data-*)
      %>
    </div>
    
  <!--å‰Šé™¤-->
      <div class="text-right">
        <!-- å‰Šé™¤ãƒœã‚¿ãƒ³ -->
        <%= button_to "ðŸ—‘ï¸", micropost_path(slug: @user.slug, id: micropost.id), method: :delete, class: "text-red-500 hover:text-red-700 bg-transparent border-none cursor-pointer pr-1" %>
      </div>

<!--<% end %><!--link-->
</div><!--ã‚³ãƒ³ãƒ†ãƒ³ãƒ„å¤–å´-->

<% end %><!--loop-->
<!----ã‚¿ã‚°ã®çµæžœ----->
  </div>
</div>










<div class="text-center"><%= render 'users/profile' %></div>
<%= render partial: 'microposts/content_navs' %>

<!----ã‚¿ã‚°ã®çµæžœ----->
<!-- where: tagã®è¦ç´ ã®ä¸­ã§ã‚‚ã€params[:tags]ã«å½“ã¦ã¯ã¾ã‚‹å†…å®¹ã‚’å–å¾—ã—ã¦ãã‚‹ã€‚-->
<!--    get '/posts/:tags',â†ã“ã®":tags"ã‹ã‚‰paramsãŒæŽ¢ã—ã¦ã„ã‚‹ to: 'microposts#tags', as: 'tag'-->

<% @microposts.published.where(tags: params[:tags]).each do |micropost| %>
 <!-- ä¸€ç•ªå¤–å´ -->
<div class="m-4 p-3 border-2 border-gray-200 rounded-2xl duration-200">
<!--<%= link_to post_path(id: micropost.id) do %> -->

<!-- ã‚³ãƒ³ãƒ†ãƒ³ãƒ„éƒ¨åˆ† -->
<div class="flex m-2">
  <!-- æ—¥ä»˜ -->
    <span class="text-gray-500 text-sm block pr-2">
    <%= micropost.created_at.strftime("%Y-%m-%d") %>
    </span>
  <!-- æ­£è§£æ•° -->
  <% if micropost.correct_num < 10 %>
    <span class="inline-flex items-center rounded-md bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-blue-700/10 ring-inset"> 
    <%= micropost.correct_num %>/10
    </span>
  <% else %>
     âœ…
  <% end %>
</div>

<!--content-->
    <div class="m-2">
      <%= sanitize micropost.content, 
      tags: %w(p br h1 h2 h3 h4 h5 h6 ul ol li strong em u s blockquote pre code span div img a),
      attributes: %w(class style src alt href data-*),
      class: "text-xl text-gray-700 font-medium"
      %>
    </div>
    
    <div class="border-2 border-dashed"></div>

<!--answer-->
    <div class="m-2 text-gray-400">
      <%= sanitize micropost.answer, 
        tags: %w(p br h1 h2 h3 h4 h5 h6 ul ol li strong em u s blockquote pre code span div img a),
        attributes: %w(class style src alt href data-*)
      %>
    </div>
    
  <!--å‰Šé™¤-->
      <div class="text-right">
        <!-- å‰Šé™¤ãƒœã‚¿ãƒ³ -->
        <%= button_to "ðŸ—‘ï¸", micropost_path(slug: @user.slug, id: micropost.id), method: :delete, class: "text-red-500 hover:text-red-700 bg-transparent border-none cursor-pointer pr-1" %>
      </div>

<!--<% end %><!--link-->
</div><!--ã‚³ãƒ³ãƒ†ãƒ³ãƒ„å¤–å´-->

<% end %><!--loop-->
<!----ã‚¿ã‚°ã®çµæžœ----->