


<%= form_with(model: @micropost, url: "/#{current_user.name}/zen/microposts", method: :post, local: true, html: { class: "micropost-form" }) do |f| %>
  <!-- å…¥åŠ›ãƒ•ã‚£ãƒ¼ãƒ«ãƒ‰ -->
  <div class="field">
    <%= f.text_area :content, 
      placeholder: "I have pen, I have an apple Uh! Apple-pen", 
      class: "mt-5 p-4 rounded border shadow-md hover:shadow-lg transition-shadow duration-300 flex items-center w-full h-40",
      style: ";" %>
  </div>

  <!-- é€ä¿¡ãƒœã‚¿ãƒ³ -->
  <div class="actions text-right mt-2">
    <%= f.submit "ä¸‹æ›¸ãä¿å­˜", name:"draft", class: "btn btn-light diary-submit-btn" %>
    <%= link_to "ðŸ¤–", user_path(@user), class: "btn btn-light submit-button" %>
    <%= f.submit "post", class: "btn btn-light diary-submit-btn" %>
  </div>
<% end %>




