<style>
.myButton {
  #position: fixed;
  #top: 10px;
  #right: 10px;
  #z-index: 1000; /* 他の要素より前面に表示 */
  #width: 80px; /* ボタンの幅 */
  #height: 45px; /* ボタンの高さ */
  # border-radius: 50%; /* 丸くする */
  /* サイズや見た目を調整する */
  background-color: white;
  #color: white;
  border: none;
  cursor: pointer;
  display: flex; /* 中央揃え */
  align-items: center; /* 縦方向の中央揃え */
  justify-content: center; /* 横方向の中央揃え */
  font
}


</style>




  

<%#<%= link_to "Home", root_path %>
    <%#<a href="https://kazfluent.com/" class="text-decoration-none">ブログ</a>%>
    <%#<a href="/" class="text-decoration-none">みんなの投稿</a>%>
    <%#<a href="/about" class="text-decoration-none">はじめての方はこちら</a>%>
    <%#<a href="/app" class="text-decoration-none">アプリ</a>%>
    
    <%#<%= link_to "Log in", login_path %>
    <%#<%= link_to "Sign up", signup_path %>
    <%#<% if logged_in? %>
   <%# <%= link_to "Profile", current_user %>
   <%# <%= link_to "Settings", edit_user_path(current_user) %>
   <%# <%= button_to "Logout", logout_path, method: :delete, class: "button-to-link-style" %>




    <%#<% end %>
  </div>
</div>
</nav>
<br>




