
<!---投稿フォーム--->
<% if controller.controller_name == "users" && action_name == "show" && current_user.present? && @user.present? && current_user == @user %>

<div id="post-modal" class="fixed inset-0 hidden z-50 bg-black bg-opacity-50 flex items-center justify-center">
  <!--<div class="bg-white rounded-lg shadow-lg w-11/12 max-w-6xl p-6">-->
  <div class="bg-white rounded-lg shadow-lg w-full sm:w-11/12 max-w-full sm:max-w-6xl p-2 sm:p-6">
  <div class="flashcardContainer m-4 p-3 border-2 border-gray-200 rounded-2xl duration-200">
  <%= form_with(model: @microposts, url: zen_create_path(slug: @user.slug), method: :post, local: true, data: { turbo: false }) do |f| %>
    <div id="inputWrapper" class="text-gray-500">
      <label for="content">覚えたい単語、フレーズ</label>
      <%= f.text_area :content, 
          id: "content", class: "m-2 p-3 border-2 border-gray-200 duration-200 rounded-2xl w-full" %>

      <label for="answer">日本語訳/解説など (optional)</label>
      <%= f.text_area :answer, 
          class: "m-2 p-3 border-2 border-gray-200 duration-200 rounded-2xl w-full" %>

      <label for="answer">自作英文  (optional)</label>
      <%= f.text_area :original, 
          class: "m-2 p-3 border-2 border-gray-200 duration-200 rounded-2xl w-full" %>


    </div>

    <!-- 新しいタグ入力欄と登録ボタンを横並びにするためのグリッド -->
    

      <!-- リンク入力欄 -->
      <div>
      <label for="tags" class="block text-gray-600">🔗 関連リンク  (optional)</label>
      <%= f.text_field :reference_link, 
          placeholder: "https:// ~",
          class: "m-2 p-3 border-2 border-gray-200 duration-200 rounded-2xl w-full" %>
      </div>
      <!-- リンクコメント欄 -->
      <div>
      <label for="tags" class="block text-gray-600">💬 ログ  (optional)</label>
      <%= f.text_field :reference_link_comment, 
          placeholder: "上記動画リンクの~分~秒部分、この本の~行目 etc",
          class: "m-2 p-3 border-2 border-gray-200 duration-200 rounded-2xl w-full" %>
      </div>
     
     <div class="grid grid-cols-2 gap-2 mt-4">
      <!-- タグ入力欄 -->
      <div>
        <label for="tags" class="block text-gray-600">タグ（1つのみ） (optional)</label>
        <%= f.text_field :tags, 
            class: "m-2 p-3 border-2 border-gray-200 duration-200 rounded-2xl w-full" %>
     </div>

      <!-- 登録ボタン -->
      <div class="flex justify-end items-center">
        <%= f.submit "カードを登録", 
            class: "bg-gray-100 text-gray-800 rounded hover:bg-gray-200 transition duration-300 px-4 py-2" %>
      </div>
    </div>

  <% end %>
</div>
  </div>
</div>

<% end %>
<!---投稿フォーム--->

<script>
//カード登録の表示
document.addEventListener('DOMContentLoaded', function() {
  const openBtns = document.querySelectorAll('.open-post-modal');
  const modal = document.getElementById('post-modal');

  if (modal) {
    openBtns.forEach(btn => {
      btn.addEventListener('click', () => {
        console.log("clicked");
        modal.classList.remove('hidden');
      });
    });

    modal.addEventListener('click', (e) => {
      if (e.target === modal) {
        modal.classList.add('hidden');
      }
    });
  }
});

//カード登録の表示
document.addEventListener('DOMContentLoaded', function() {
  const openBtns = document.querySelectorAll('.open-post-modal02');
  const modal = document.getElementById('post-modal02');

  if (modal) {
    openBtns.forEach(btn => {
      btn.addEventListener('click', () => {
        console.log("clicked");
        modal.classList.remove('hidden');
      });
    });

    modal.addEventListener('click', (e) => {
      if (e.target === modal) {
        modal.classList.add('hidden');
      }
    });
  }
});





</script>